.service.box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.service.box-container.box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}
.service.box-container.box i{
    padding: 1rem;
    font-size: 5rem;
    color:var(--orange);
}
.service.box-container.box h3{
    font-size: 2.5rem;
    color:#333;
}
.service.box-container.box p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;;
}
.service.box-container.box:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.review .review-slider{
    padding-bottom: 2rem;
}
.review .box{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}
.review .box img{
    height: 13rem;
    width: 13rem;
    border-radius:50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.review .box h3{
    color: #333;
    font-size: 2.5rem;
}
.review .box p{
    color: #6666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.review .box .stars i{
    color: var(--orange);
    font-size: 1.7rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.contact .row .image{
    flex:1 1 35rem;
}
.contact .row .image img{
    width: 100%;
}
.contact .row form{
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}
.contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .row form .inputBox input, .contact .row form textarea{
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color:#333;
    background: #f7f7f7;
    text-transform: none;
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
}